.status-bar {
  display: flex;
  justify-content: space-between;
  /* 시계랑 상단에 아이콘들의 간격을 벌리기 위해서 입력한다. */
  margin-bottom: 30px;
  color: #656565;
}

.status-bar i {
  font-size: 14px;
}

.status-bar .stsus-bar__battery-level {
  margin-left: 5px;
  /* padding-left: 10px; */
}
